version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: spare_space_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0
      POSTGRES_DB: spare_space
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - backend

  backend:
    build: .
    container_name: spare_space_backend
    restart: unless-stopped
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:
  