version: '3.8'
services:
  postgres:
    image: postgis/postgis:15-3.4-alpine
    deploy:
      restart_policy:
        condition: any
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 0
      POSTGRES_DB: spare_space
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - backend

  backend:
    image: spare-space-backend:latest
    deploy:
      restart_policy:
        condition: any
    depends_on:
      - postgres
    environment:
      - PORT=${PORT}
      - APP_URL=${APP_URL}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_WEBHOOK_TOKEN=${TELEGRAM_WEBHOOK_TOKEN}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET}
      - REFRESH_TOKEN_EXPIRY_DAYS=${REFRESH_TOKEN_EXPIRY_DAYS}
      - TELEGRAM_ITEMS_PER_PAGE=${TELEGRAM_ITEMS_PER_PAGE}
      - FCM_CREDENTIALS_BASE64=${FCM_CREDENTIALS_BASE64}
    ports:
      - "3000:3000"
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:
